*{font-family: 'Poppins', sans-serif;}
body{background-color: #F9F6EF;}
a{text-decoration: none;color: #000;transition: 230ms;}a:hover{color: #51A0D5;}
nav{background-color: #000; opacity: 0.9; color: #fff;}
section{display: flex;width: 100%;height: 100vh;justify-content: center;align-items: center;}
#title{font-family: 'Raleway', sans-serif;font-weight: 600;font-size: 3.5rem;}
.nav-padding{padding-left: 20px;}
.brand-img{width: 20px; height: auto;}
.nav-link{color: #fff;transition: 230ms;}.nav-link:hover{color: #51A0D5;}
.nav-offset{margin-right: 40px;}
.toggler-btn{color: #fff;}
.section-title{font-family: 'Raleway', sans-serif;font-weight: 600;font-variant: small-caps;color: #2C528C;}
.sub-title{font-family: 'Raleway', sans-serif; text-transform: uppercase;}
.rounded-img{border: 1px solid #000;padding: 2px;border-radius: 50%;width: 200px;height: 200px;}
.card{background-color: #fff; padding: 30px;}
.card-div{padding: 10px;}
.btn-social{background-color: transparent;border: none;color: #fff;text-align: center;font-size: 1rem;padding-left: 10px;transition: 230ms;}.btn-social:hover{color: #51A0D5;}
.copyright-footer{text-transform: uppercase;color: #fff;font-size: 0.8rem;}
.copyright{color: #fff;transition: 230ms;}.copyright:hover{color: #51A0D5;}
footer{background-color: #000;padding: 5px;padding-top: 10px; position: relative; margin-top: 50px;}